%body
  .page-wrap
    %h2 newsletter for "show HackerNews"
    %br/
    .box
      = image_tag("paperboy_700.png", size: '300x300', class:"mb-4")
    %br/
    %p delivered weekly on wednesdays

    %form{action: subscriptions_path, method: "POST"}
      %input.form-control{name: "email", placeholder: 'e-mail address', required: true, type: "text"}/
      = hidden_field_tag :authenticity_token, form_authenticity_token

      = submit_tag 'subscribe', class: 'submit_button'

      %br

    %p.mt-5.mb-3.text-muted
      = link_to 'last week\'s projects', last_posts_path
      %br/
      %br/
      = link_to 'source code', 'https://github.com/ccozkan/showhn.paperboy.digital'
      |
      = link_to 'hey@paperboy.digital', 'mailto:hey@paperboy.digital'
      |
      = link_to 'author', 'https://ozkan.cc'
      %br
      © 2021

