%h2 showhn.paperboy.digital/last
= link_to 'homepage <<', root_path

%h4
  = "#{HackerNewsPost.last_week_time_period[:starting_at].to_s(:short)} -- #{HackerNewsPost.last_week_time_period[:ending_at].to_s(:short)}"

%h3
  = "<top_20>"

- @posts.each_with_index do |p, index|
  - if index == 20
    %h3
      %a{name: "rest"}
        = "</top_20>"
    %hr
  = "#{index + 1}: #{p.title}, score: #{p.score}"
  |
  = link_to 'comments', "https://news.ycombinator.com/item?id=#{p.external_id}", target: :_blank
  %br/
  %br/
  = link_to p.url, p.url, target: :_blank
  %br/
  %br/
  %hr
