%h2 showhn.paperboy.digital/last

%h4
  = "<top_20>"

- @posts.each_with_index do |p, index|
  - if index == 20
    %h4
      %a{name: "rest"}
        = "</top_20>"
    %hr
  = "#{index + 1}: #{p.title}, score: #{p.score}"
  |
  = link_to 'comments', "https://news.ycombinator.com/item?id=#{p.external_id}", target: :_blank
  %br/
  %br/
  = link_to p.url, p.url, target: :_blank
  %br/
  %br/
  %hr
