%h4 Show HN Projects of Last Week

%br/

- @posts.each do |p|
 = "#{p.title}, score: #{p.score}"
 %br
 = link_to "#{p.url}", "#{p.url}"
 %hr

= link_to 'Rest of the Projects', last_posts_url(anchor: 'rest')

%br/
%hr
%hr

= render 'partials/footer'
