<!DOCTYPE html>
<html>
  <head>
    <title>My Cool Automated Newsletter Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
       <div class="alert alert-info">
            <%= msg %>
        </div>
    <% end %>
    <%= yield %>
  </body>
</html>
