<!DOCTYPE html>
<html>
  <head>
    <title>paperboy digital</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('paperboy_30.png') %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q7MZXKTSXE"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'G-Q7MZXKTSXE');
    </script>
  </head>

  <body style="background-color: #F3DFC1">
    <% flash.each do |type, msg| %>
       <div class="alert alert-info page-wrap">
            <%= msg %>
        </div>
    <% end %>
    <%= yield %>
  </body>
</html>
